/* ----------------------------- */
/*   Design fluide               */
/* ----------------------------- */
/*
OBJECTIF : aligner les trois paragraphes .info, .aside et .content de telle sorte que .content soit fluide et placé au centre, entre .info et .aside

1- créer un contexte Flexbox sur .main
2- .aside et .info doivent avoir une largeur fixe de 200px
3- .content occupe l'espace restant
4- inverser l'ordre d'affichage : .info avant .content
5- ajoutez un peu d'espace entre les blocs (0.5em par ex.)
6- les 3 boîtes ne doivent plus se comporter en "stretch"

Sur fenêtre de moins de 800px :
1- tous les éléments doivent à nouveau s'afficher les uns sous les autres
2- sans marge ni taille fixée
3- .content doit à nouveau s'afficher en premier

BONUS : faites tout ça en 6 propriétés maximum !

Sur fenêtre entre 600 et 800px :
1- .content et .info occupent chacun la moitié de l'espace
2- .aside passe à la ligne et occupe toute la largeur

*/

body {
	margin: 0;
	padding: 2em;
	background: #F1EFE2;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
}
p {
	padding: 5px;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
}
.aside {
	background: orange;
}
.info {
	background: hotpink;
}
.content {
	background: olivedrab;
}
.footer {
	background: gray;
}

/* Correction */

@media (min-width: 801px) {
	.main{
		display: flex;
	}
	.aside, .info{
		width: 200px;
	}
	.content{
		flex: 1;
	}
	.info{
		order: -1;
	}
}

@media (max-width: 800px) and (min-width: 600px){
	.content, .info{
		flex: 1;
	}
	.main{
		display: flex;
		flex-wrap: wrap;
	}
	.aside{
		flex-grow: 1;
	}
}
